<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebOodi calendar export</title>
    <meta name="description" content="Automatically export exam dates from Aalto WebOodi directly to Google, Apple, Outlook and other calendars using iCalendar protocol"/>
    <meta name="og:title" content="Aalto WebOodi calendar export"/>
    <meta name="og:description" content="Export exam dates from Aalto WebOodi to your calendar"/>
    <meta name="og:url" content="https://aalto-oodi-calendar-export.herokuapp.com/"/>
    <link rel="stylesheet" href="/static/normalize_and_skeleton.css"/>
    <link rel="stylesheet" href="/static/index.css"/>
</head>
<body>
    <div class="container">
        <h1>Aalto WebOodi calendar export</h1>
        <p class="u-center-text">
            Automatically export exam dates from WebOodi directly to Google, Apple, Outlook and other calendars using
            <a href="https://en.wikipedia.org/wiki/ICalendar">iCalendar</a>.
        </p>

        <div class="primary-content">
            <h2>Generate calendar subscription URL</h2>
            <p>
                Log in with Aalto IDP credentials.
                Credentials are verified by logging in to WebOodi automatically.
            </p>
            <form action="" method="POST">
                <div class="row">
                    <input name="username" id="username" placeholder="username" autocomplete="off" type="text" class="six columns"/>
                    <input name="password" id="password" placeholder="password" autocomplete="off" type="password" class="six columns"/>
                </div>
                <div class="row">
                    <input value="Generate URL" type="submit" class="button-primary u-full-width"/>
                </div>
            </form>

            {% if error %}
            <div class="row error">Error: {{error}}</div>
            {% endif %}

            {% if url %}
            <h2>Generated URL</h2>
            <div class="row generated-url">{{ url }}</div>
            {% endif %}
        </div>

        <h2>Importing instructions for</h2>
        <div class="row logos">
            <div class="four columns">
                <a target="_blank" href="https://help.sportlyzer.com/hc/en-us/articles/207593579-Add-iCal-to-Google-Calendar#url">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Google_Calendar.png" alt="Google Calendar logo">
                    <span>Google Calendar</span>
                </a>
            </div>
            <div class="four columns">
                <a target="_blank" href="https://support.apple.com/en-us/HT202361">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Calendar_Icon.png" alt="Apple Calendar logo">
                    <span>Apple Calendar</span>
                </a>
            </div>
            <div class="four columns">
                <a target="_blank" href="https://support.office.com/en-us/article/import-or-subscribe-to-a-calendar-in-outlook-on-the-web-503ffaf6-7b86-44fe-8dd6-8099d95f38df">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Microsoft_Office_Outlook_%282018%E2%80%93present%29.svg" alt="Outlook logo">
                    <span>Microsoft Outlook</span>
                </a>
            </div>
        </div>

        <h2>Problems? Questions? Feature requests?</h2>
        <p>
            Create an issue in <a href="https://github.com/Dentosal/aalto_oodi_calendar_export/issues/new">GitHub/</a>.
            Pull requests are appreciated as well.
        </p>

        <h2>Security & privacy</h2>
        <h3>Logging</h3>
        <p>
            Passwords are never logged.
            IP addresses and usernames might be stored in the temporary log files for debugging, but are never stored persistently.
            IP addresses are also used for rate limitig, but this information is not stored persistently either.
        </p>
        <h3>Cookies and tracking</h3>
        <p>
            This site does not use cookies, trackers or ads.
        </p>
        <h3>Password security</h3>
        <p>
            User passwords are never stored on the server, and are always deleted after the content has been fetched from WebOodi.
            The subscription url contains username and password, but they are AES256-encrypted, so that only this application can
            decrypt them. Still, fundamentally this application uses your credentials to access WebOodi. If you don't trust that
            I handle the credentials properly, you are free to run your own instance, simply
            <a href="https://github.com/Dentosal/aalto_oodi_calendar_export">
                clone the source from GitHub
            </a>
            and upload it to Heroku. It's free, and relatively quick.
        </p>
        <h3>(Legal) Disclaimer</h3>
        <p>
            This service is provided on "as is" basis, without any guarantees about uptime or correctness of data.
            I'm not responsible for... anything, really.
            By giving your passsword you might break some University IT policies. I'm not responsibe for that, either.
            Please do not use the service if you are not allowed to let me to use your passsword.
        </p>
    </div>
    <footer class="footer row">
        <span class="six columns">Created by Hannes Karppila.</span>
        <span class="six columns">Source code available on <a href="https://github.com/Dentosal/aalto_oodi_calendar_export">GitHub</a>.</span>
    </footer>
    <a class="fork-me" href="https://github.com/Dentosal/aalto_oodi_calendar_export">
        <img width="149" height="149"
            src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
            alt="Fork me on GitHub"
            data-recalc-dims="1"
        />
    </a>
</body>
</html